<footer id="footer" class="site-footer">
	<div class="inner">
		<div class="copyright">
			{% if site.copyright %}
			{{ site.copyright | markdownify }}
			{% else %}
			<p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
			{% endif %}
		</div>

		<div class="sponsors">
			<p>Our Sponsors: <a href="https://www.aa.net.uk/">Andrews & Arnold Ltd</a> <a href="https://bitfolk.com/">Bitfolk</a> <a href="https://shop.pimoroni.com/">Pimoroni</a> <a href="https://shop.wedo3dprinting.com/">We Do 3D Printing</a> </p>
		</div>

		<div class="legal">
			<p>Sheffield Hackspace is the trading name of Sheffield Hardware Hackers and Makers CIC, registered in England & Wales No. <a href="https://find-and-update.company-information.service.gov.uk/company/09444723">09444723</a>.</p>
		</div>
	</div>
</footer>