@media (max-width: 550px) {
  .big-container {
	display: none;
  }
}
@media (min-width: 550px) {
  .small-container {
	display: none;
  }
}
/* Responsive iFrame */
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100vw;
  max-width: none;
}

@media (min-width: 20em) { .full-width { margin-left: -1rem; } }

@media (min-width: 48em) { .full-width { margin-left: -2rem; } }

@media (min-width: 64em) { .full-width { margin-left: -3rem; } }

@media (min-width: 80em) { .full-width { margin-left: -4rem; } }