/* Fonts */
@font-face {
  font-family: 'bignoodletitlingregular';
  src: url('../fonts/big_noodle_titling-webfont.woff2') format('woff2'),
  url('../fonts/big_noodle_titling-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: $base-font-family;
}

.menu,
.site-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "bignoodletitlingregular", $headline-font-family;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  padding: 1rem 0;
}

/* Responsive iFrame */
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 48em) {
  .big-container {
    display: none;
  }
  .responsive-iframe-container {
    position: relative;
    padding-bottom: 80vh;
  }
}
@media (min-width: 48em) {
  .small-container {
    display: none;
  }
}

/* Full width content */
.full-width {
  width: 100vw;
  max-width: none;
  margin-bottom: 1.5rem;

  @media (min-width: 0em) { margin-left: -0.5rem; }
  @media (min-width: 20em) {  margin-left: -1rem; }
  @media (min-width: 48em) {  margin-left: -2rem; }
  @media (min-width: 64em) {  margin-left: -3rem; }
  @media (min-width: 80em) {  margin-left: -4rem; }
}

/* panoramic viewer */
.pano-contaner {
  height: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;

  img {
    display: inline;
    min-height: 100vw;
    min-width: 4*100vw;
  }

  @media (min-width: 64em) {
    height: 60vw;
    img {
      min-height: 60vw;
      min-width: 4*60vw;
    }
  }

  @media (min-width: 84em) {
    height: 40vw;
    img {
      min-height: 40vw;
      min-width: 4*40vw;
    }
  }

  &::-webkit-scrollbar {
    display: block;
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: #00000000;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #00000000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00000040;
    border: 1px solid #ffffff40;
    border-radius: 24px;
  }
}

/* sponsors in the footer */
.copyright, .sponsors {
  width: auto;
  float: left;
}
.copyright{
  @media (min-width: 20em) { padding-right: 1rem; }
  @media (min-width: 48em) { padding-right: 2rem; }
  @media (min-width: 64em) { padding-right: 3rem; }
  @media (min-width: 80em) { padding-right: 4rem; }
}
.sponsors a {
  color: tint($text-color, 40%);
}

.entry-content {
  > p:first-child {
    font-size: inherit;
    line-height: inherit;
  }
}

.intro-image {
  min-height: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}