---
---


$accent-color: rgb(23,157,217);
// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";
@import "custom";

#open-nights {
  margin: 0rem;
  padding: 0rem;
}

#themed-nights {
  margin: 0rem;
  padding: 0rem;
}
details.themed-night {
  padding: 0 0 0 1.5rem;
}
details.themed-night > summary {
  margin-bottom: 0.5rem;
}
details.themed-night > p {
  margin-left: 1.5rem;
}

img {
  // so that missing images are obviously missing (alt text goes red)
  color: red;
}

// styling for blog preview images
.entry-excerpt p {
  line-height: 1.2lh;
}
.entry-excerpt img {
  max-height: calc(min(25rem, 80vh));
}
