---
layout: default
---
<article class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
	</header>

	<div class="post-content">
		{{content}}
	</div>

	<div class="responsive-iframe-container big-container">
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FLondon&showTabs=0&showPrint=0&showDate=0&showCalendars=0&hl=en_GB&src=bGVkZDNwN2g3bXBmdWxibjVoaWg2cG9oajhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23009688" style="border-width:0"  width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>

	<div class="responsive-iframe-container small-container">
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FLondon&showTabs=0&showPrint=0&showDate=0&showCalendars=0&hl=en_GB&mode=AGENDA&src=bGVkZDNwN2g3bXBmdWxibjVoaWg2cG9oajhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23009688" style="border-width:0"  width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>

</article>