---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
	<div class="inner">
		<article class="entry-wrap">
			<div class="entry-content">
				{{ content }}
			</div>

			{% for space in site.data.spaces %}
				<div class="entry-content">
					<h2>{{ space.name }}</h2>
					<img class="full-width" src="{{ site.baseurl }}{{space.image}}" alt="{{ space.alt }}">
					<p>{{ space.content }}</p>
				</div>
			{% endfor %}
		</article>
	</div>
</main>